.container
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	width: 900px
	margin: 0 auto

	@media(max-width: 940px)
		width: 100%

.game
	background-image: url('/catcher/background.png')
	width: 800px
	height: 523px
	position: relative
	overflow: hidden

	@media(max-width: 800px)
		transform: scale(0.8)
	
	@media(max-width: 680px)
		transform: scale(0.6)

	@media(max-width: 460px)
		transform: scale(0.5)

	@media(max-width: 370px)
		transform: scale(0.4)

	@media(max-width: 280px)
		transform: scale(0.3)

.title
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 20px
	font-size: 20px

.santa
	background-image: url('/catcher/ded-left')
	width: 250px*0.6
	height: 366px*0.6
	background-size: cover
	left: 50%
	margin-left: -250px*0.3+10px
	bottom: 90px
	position: absolute

	&.left
		background-image: url('/catcher/ded-left.png')
		transform: translateX(-30px)

	&.right
		background-image: url('/catcher/ded-right.png')
		transform: translateX(30px)

	&.left-up
		background-image: url('/catcher/ded-left-up.png')
		transform: translateX(-30px)

	&.right-up
		background-image: url('/catcher/ded-right-up.png')
		transform: translateX(30px)

.present
	width: 80px
	height: 80px
	background-size: contain
	background-repeat: no-repeat
	background-position: bottom center
	position: absolute

	&.catch
		transition: 0.3s

	&.fall
		transition: 0.5s

.buttonContainer
	display: flex
	align-items: center
	margin-top: -20px
	z-index: 2
	font-weight: 600

	*
		margin: 0 15px

.playButton
	width: 60px
	height: 60px
	background: none
	background-size: contain
	background-repeat: no-repeat
	border: none
	outline: none
	margin-top: -20px

	&:hover
		opacity: 0.9
		cursor: pointer

	&:active
		opacity: 0.7



.hide
	display: none 

.leftTopButton, .rightTopButton, .leftBottomButton, .rightBottomButton
	background: none
	padding: 0
	position: absolute
	z-index: 5
	border: none
	outline: none

$delta: 220px

.leftTopButton, .rightTopButton
	top: 0
	width: 50%
	height: $delta

.leftTopButton
	left: 0

.rightTopButton
	right: 0

.leftBottomButton, .rightBottomButton
	bottom: 70px
	top: $delta
	width: 50%

.leftBottomButton
	left: 0

.rightBottomButton
	right: 0


