.container
	display: flex
	flex-direction: column
	justify-content: center
	&>div
		display: flex
		justify-content: space-between

	.title
		white-space: pre-wrap
		text-align: center
		margin-bottom: 30px

		.name
			color: #E4332D
			font-size: 1.25em
			font-weight: 600