h2
	text-align: center
	font-weight: 600
	text-transform: uppercase
	background-size: cover
	background-position: center
	background-image: url(/images/header.jpg)
	margin: 0
	line-height: 1.2em
	padding: 0.5em 0.3em
	color: #700404
	font-size: 2em
	z-index: 2

	@media(max-width: 410px)
		font-size: 1.6em

	&.gray
		background-image: url(/images/header-2.jpg)
		color: white

	&.red
		background-image: url(/images/header-3.jpg)
		color: white


.flex
	display: flex
	flex-direction: column


.content
	flex: 1 1 auto

.flex-center
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.button-img
	background: none
	border: none
	outline: none

	img
		max-height: 60px
		max-width: 60px

	&:hover
		cursor: pointer