.mega-button
	color: #990000
	background: linear-gradient(180deg, white 59.37%, #C7C5C6 100%)
	padding: 5px 40px
	display: inline-block
	font-size: 1em
	font-weight: 600
	text-transform: uppercase
	white-space: pre-wrap
	text-align: center
	vertical-align: middle
	border: 5px solid white
	box-shadow: 0 0 0 1px #700404
	border-radius: 3em

	@media(max-width: 600px)
		padding: 3px 25px

.up-button
	position: fixed
	width: 2.5em
	height: 2.5em
	background: none
	border: none
	background-image: url('/images/arrow.svg')
	background-size: contain
	background-position: center
	bottom: 30%
	right: 0.5em
	transition: 0.3s
	z-index: 4

	&.hide
		opacity: 0
		transform: scale(0.5)


.stars
	position: absolute
	right: 2vw
	pointer-events: none
	z-index: 1


	@media(max-width: 900px)
		top: -20px

	@media(max-width: 600px)
		top: -40px
		right: -10px
		transform: scale(0.5)